<form [formGroup]="createEventForm" class="card flex justify-center max-w-full">
  <p-dialog header="Adicionar evento" closeOnEscape="true" maskStyleClass="backdrop-blur-sm bg-black/30"
    [(visible)]="visible" [style]="{ width: '35rem' }">
    <div class="flex justify-between mt-3 mb-10">
      <p class="p-text-secondary block">{{ formatedDate() }}</p>
      <div>
        <label for="all-day" class="mr-3">Dia todo</label>
        <p-checkbox formControlName="allDay" value=true inputId="all-day" />
      </div>
    </div>
    <div class="mb-9">
      <p-floatlabel variant="on" class="w-full">
        <p-select inputId="family-member" class="w-full" formControlName="familyMember" [options]="familyMembers"
          optionLabel="name" />
        <label for="family-member">Membro da família</label>
      </p-floatlabel>
      <small id="family-member-help">Selecione um membro da família</small>
    </div>
    <div class="mb-9">
      <p-floatlabel variant="on">
        <label for="evet_title">Título</label>
        <input pInputText formControlName="eventTitle" id="event_title" autocomplete="off" class="flex-auto w-full" />
      </p-floatlabel>
      <small id="event_title-help">Adicione um título para o novo evento</small>
    </div>
    <div class="flex justify-end gap-4">
      <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="visible.set(false)" />
      <p-button icon="pi pi-check" [rounded]="true" (click)="createEvent()" />
    </div>
  </p-dialog>
</form>