@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Inter-Italic';
    src: url('./assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

:root {
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

html,
body,
body>* {
    /* the app-root */
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f3f3f3;
    font-size: 0.936rem;
}

.page {
    max-width: 1080px;
    padding: 1.75rem;
    margin: auto;
}